{{define "index"}}
{{template "_head"}}

<body>
    {{template "_menu"}}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="card">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped mb-0">
                            <caption>Produtos</caption>
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th style="width: 1rem;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .}}
                                <tr>
                                    <td>{{.Nome}}</td>
                                    <td>{{.Descricao}}</td>
                                    <td>{{.Preco}}</td>
                                    <td>{{.Quantidade}}</td>
                                    <td style="width: 1rem;">
                                        <button type="button" class="btn btn-danger"
                                            onclick="onDelete('{{.Id}}')">Deletar</button>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </section>
                <div class="card-footer">
                    <a href="/new" class="btn btn-primary">Novo Produto</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function onDelete(id) {
            var resposta = confirm('Tem certeza que deseja deletar esse produto?');
            if (resposta) {
                window.location = '/delete?id=' + id;
            }
        }
    </script>
</body>

</html>
{{end}}